/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lato-thin {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: italic;
  }
  

/* Body styles */

body {
    font-family: "Lato";
    line-height: 1.6;
    background-color: #121212; 
    color: #e0e0e0; /* Light text for contrast */
    min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
    display: flex;
    flex-direction: column;
}

/* Header and navigation styles */
header {
    background-color: #1f1f1f; /* Darker header */
    color: #FFB6C1;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between; /* Space between the navigation links and the hamburger */
    align-items: center;
}

#nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#nav-list li {
    margin: 0 15px;
}

#nav-list li a {
    color: #FFB6C1; 
    text-decoration: none;
    font-weight: bold;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    position: relative;
}

.hamburger {
    color: #FFB6C1;
    font-size: 30px;
    cursor: pointer;
    position: relative;
}

/* Section styles */
section {
    padding: 2rem;
    text-align: center;
    margin: 1rem 0;
    background-color: #1f1f1f; /* Dark section background */
    border-radius: 8px;
}


.home {
    background-color: #2c2c2c; /* Slightly lighter background for home */
    margin-top: 2rem;
}

.homeimage{
    background-color: #121212;
}
.homeimage img{
    width: 80vw;
    max-width: 850px;
    border-radius: 8px;
}

.home-container {
    background-color: #1f1f1f; 
    padding: 2rem 3rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 60vw;
    max-width: 425px;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
}

.home-container a {
    color:#00FFFF;
    text-decoration: none;
}

.home-container a:hover{
    text-decoration: underline;
    color: #00AAFF;
}
.main-container {
    background-color: #1f1f1f; 
    padding: 2rem 3rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 60vw;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.main-container a {
    color:#00FFFF;
    text-decoration: none;
}

.main-container a:hover{
    text-decoration: underline;
    color: #00AAFF;
}

.ic-about{
text-align: left;
}

.ic-about h2{
    text-align: center;
    }

.contact{
    background-color: #1f1f1f; 
    padding: 2rem 3rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 60vw;
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
}

.contact span{
    color: #00FFFF;
    text-decoration: underline;
}

footer {
    background-color: #1f1f1f; /* Dark footer */
    color: #FFB6C1; 
    text-align: center;
    padding: 1rem;
    margin-top: auto; /* Push the footer to the bottom of the page */
}

/* Login Section Styles */
.login {
    background-color: #1f1f1f; /* Dark background for login */
    padding: 2rem 3rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: auto;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Heading styles */
h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

/* Form input and label styles */
.form-group {
    width: 100%;
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #333333; 
    color: #e0e0e0;
    border: 1px solid #444444;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border-color: #FFB6C1; 
}


.form-f {
    display: flex;
    flex-direction: column;
    /* border: solid 2px; */
    text-align: left;
  }
  .form-p {
    display: table-row; 
    justify-content: flex-end;
  }
  .form-l {
    display: table-cell;
    padding: 0.5em 1em 0.5em 0;
    flex: 1;
  }
  .form-i {
    display: table-cell;
    flex: 2;
  }
  
  .main-container form {
    margin: 0 auto;
  }

  .text-center {
    text-align: center;
  }
  
  button {
    text-align: center;
    font-family: "Lato";
    font-weight: 600;
    background-color: #FFB6C1; 
    color: #121212;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #ff9bb0; 
}
/* Media Queries */
@media (max-width: 723px) {
    header nav {
        justify-content: flex-end;
    }

    #nav-list {
        display: none;
        flex-direction: column;
        text-align: center;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 1rem;
    }

    #nav-list li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }

    #nav-list.active {
        display: flex;
    }
}

/* Medium devices (e.g., tablets) */
@media (max-width: 1024px) {
    section {
        padding: 1.5rem;
    }
}

/* Large devices (e.g., laptops and desktops) */
@media (min-width: 1025px) {
    section {
        padding: 2rem;
    }
}